<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
    <title>Telescopai</title>
</head>
<body>
<header>
    <nav class="navbar">
        <a class="mainpage-link" href="/">Telescopai</a>
    </nav>
</header>
<div class="cam-container">
    <form action="/uploader"
          method="POST"
          enctype="multipart/form-data">
        <input type="file" name="file"/>
        <input type="submit"/>
    </form>
</div>
<div class="button-container">
</div>

</body>
</html>
